{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react"],
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    // note you must disable the base rule as it can report incorrect errors
    "no-unused-vars": "off",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-console": 0, // Remember, this means error!
    "semi": ["error", "never"],
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-interface": [
      "warn",
      {
        "allowSingleExtends": false
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn", // or "error"
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ]
  },
  "overrides": [
    {
      // enable the rule specifically for TypeScript files
      "files": ["*.ts", "*.tsx"],
      "rules": {}
    }
  ],
  "globals": {
    "document": true,
    "global": true,
    "window": true
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["@assets", "./platformAssets/runtime"],
        ["@configs", "./src/configs"],
        ["@core", "./src/components/core"],
        ["@components", "./src/components"],
        ["@navigation", "./src/navigation"],
        ["@screens", "./src/screens"],
        ["@themes", "./src/themes"],
        ["@", "./src"]
      ]
    }
  }
}
